<nav class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 py-2">
        <a
            href="/"
            class="text-lg font-semibold text-gray-800 hover:text-gray-600"
            >Accueil</a
        >
        <a
            href="/offres"
            class="ml-4 text-lg font-semibold text-gray-800 hover:text-gray-600"
            >Offres</a
        >
    </div>
</nav>
